
Learn_Python/__pycache__/dev_09_modulo1.cpython-37.pyc
Learn_pySpark/salida/apat63_99-seq/._SUCCESS.crc
Learn_pySpark/salida/apat63_99-seq/.part-00000.crc
Learn_pySpark/salida/apat63_99-seq/.part-00001.crc
Learn_pySpark/salida/apat63_99-seq/.part-00002.crc
Learn_pySpark/salida/apat63_99-seq/.part-00003.crc
Learn_pySpark/salida/apat63_99-seq/.part-00004.crc
Learn_pySpark/salida/apat63_99-seq/.part-00005.crc
Learn_pySpark/salida/apat63_99-seq/.part-00006.crc
Learn_pySpark/salida/apat63_99-seq/_SUCCESS
Learn_pySpark/salida/apat63_99-seq/part-00000
Learn_pySpark/salida/apat63_99-seq/part-00001
Learn_pySpark/salida/apat63_99-seq/part-00002
Learn_pySpark/salida/apat63_99-seq/part-00003
Learn_pySpark/salida/apat63_99-seq/part-00004
Learn_pySpark/salida/apat63_99-seq/part-00005
Learn_pySpark/salida/apat63_99-seq/part-00006
Learn_pySpark/salida/hadoopfileoutdir/._SUCCESS.crc
Learn_pySpark/salida/hadoopfileoutdir/.part-r-00000.crc
Learn_pySpark/salida/hadoopfileoutdir/.part-r-00001.crc
Learn_pySpark/salida/hadoopfileoutdir/_SUCCESS
Learn_pySpark/salida/hadoopfileoutdir/part-r-00000
Learn_pySpark/salida/hadoopfileoutdir/part-r-00001
Learn_pySpark/salida/salidatxt/._SUCCESS.crc
Learn_pySpark/salida/salidatxt/.part-00000.crc
Learn_pySpark/salida/salidatxt/.part-00001.crc
Learn_pySpark/salida/salidatxt/.part-00002.crc
Learn_pySpark/salida/salidatxt/.part-00003.crc
Learn_pySpark/salida/salidatxt/_SUCCESS
Learn_pySpark/salida/salidatxt/part-00000
Learn_pySpark/salida/salidatxt/part-00001
Learn_pySpark/salida/salidatxt/part-00002
Learn_pySpark/salida/salidatxt/part-00003
Learn_pySpark/salida/sequenceoutdir2/._SUCCESS.crc
Learn_pySpark/salida/sequenceoutdir2/.part-00000.crc
Learn_pySpark/salida/sequenceoutdir2/.part-00001.crc
Learn_pySpark/salida/sequenceoutdir2/_SUCCESS
Learn_pySpark/salida/sequenceoutdir2/part-00000
Learn_pySpark/salida/sequenceoutdir2/part-00001
Learn_pySpark/datos/pg9980.txt.gz
Learn_pySpark/datos/pg8870.txt.gz
Learn_pySpark/datos/pg7109.txt.gz
Learn_pySpark/datos/pg5201.txt.gz
Learn_pySpark/datos/pg32315.txt.gz
Learn_pySpark/datos/pg25807.txt.gz
Learn_pySpark/datos/pg25640.txt.gz
Learn_pySpark/datos/pg24536.txt.gz
Learn_pySpark/datos/pg2000.txt.gz
Learn_pySpark/datos/pg18005.txt.gz
Learn_pySpark/datos/pg17073.txt.gz
Learn_pySpark/datos/pg17013.txt.gz
Learn_pySpark/datos/pg16625.txt.gz
Learn_pySpark/datos/pg1619.txt.gz
Learn_pySpark/datos/pg14329.txt.gz
Learn_pySpark/apat63_99.txt
Learn_pySpark/cite75_99.txt
Learn_pySpark/country_codes.txt
